@import "../../styles/utils/Variable.scss";
@import "../../styles/utils/Mixins.scss";

.banner-about {
  display: flex;
  align-items: center;
  width: 100%;
  height: 223px;
  margin-top: 38px;
  position: relative;
  overflow: hidden;

  .banner-picture,
  &::before {
    width: 100%;
    height: 100%;
    border-radius: $border-radius-large;
  }

  .banner-picture {
    object-fit: cover;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  @media only screen and (max-width: 768px) {
    height: 111px;
    max-width: calc(100% - 40px);
    margin: 19px auto;

    .banner-picture,
    &::before {
      border-radius: $border-radius-small;
    }
  }
}

.collapse-container {
  display: flex;
  flex-direction: column;
  width: 1023px;
  max-width: 100%;
  margin: 40px auto 38px;
  gap: 30px;
  overflow: hidden;

  .custom-title {
    font-size: 24px;

    @media only screen and (max-width: 768px) {
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 768px) {
    gap: 20px;
    max-width: calc(100% - 40px);
    margin: 20px auto 19px;
  }
}
