@import "./Variable.scss";

@mixin collapse-text {
  justify-content: center;
  align-items: center;
  background-color: $tertiary-color;
  color: $primary-color;
  padding: 15px;
  margin: 0;
  font-size: 18px;
  border-radius: 0 0 5px 5px;
}

@mixin collapse-banner {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  margin-top: 30px;
  border-radius: 5px;
  padding: 10px 20px;
  height: 32px;
}
