// Colors

$primary-color: #ff6060;
$secondary-color: #000000;
$tertiary-color: #f6f6f6;

// Police
$primary-font: "Montserrat", sans-serif;

// border radius
$border-radius-large: 25px;
$border-radius-small: 10px;
