@import "../../../styles/Variable.scss";

.not-found {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
  color: $primary-color;
  gap: 139px;

  @media screen and (max-width: 768px) {
    gap: 113px;
  }

  .code {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 288px;
    font-weight: 700;
    margin-top: 139px;

    @media screen and (max-width: 768px) {
      font-size: 96px;
      font-weight: 700;
      margin-top: 113px;
    }
  }

  .not-found-text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin: 0;

    @media screen and (max-width: 768px) {
      font-size: 18px;
      font-weight: 500;
      line-height: 25.67px;
      word-wrap: break-word;
      width: 80%;
      margin: auto;
    }
  }
}

p {
  margin: 0 0 139px 0;

  @media screen and (max-width: 768px) {
    margin: 0 0 113px 0;
  }

  a {
    color: $primary-color;
    text-decoration-line: underline;
  }
}
